<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>show</h1>

<tr th:each="car: ${cars}">
    <td th:text="${car.getId()}"></td>
    <td th:text="${car.getMark()}"></td>
    <td th:text="${car.getModel()}"></td>
    <td th:text="${car.getColor()} "></td>
    <br/>
</tr>

<form th:action="@{/addCar}" th:object="${newCar}" method="post">
    <p>ID <input type="text" th:field="*{id}"></p>
    <p>Mark <input type="text" th:field="*{mark}"></p>
    <p>Model <input type="text" th:field="*{model}"></p>
    <p>Color <input type="text" th:field="*{color}"></p>
    <p><input type="submit" value="add new car"></p>
</form>
<br/>
<br/>
<br/>
<form th:action="@{/removeCar}" th:object="${newCar}">
    <p>ID <input type="text" th:field="*{id}"></p>
    <p><input type="submit" value="remove new car"></p>
</form>
<br/>
<br/>
<br/>
<form th:action="@{/modifyCar}" th:object="${newCar}" >
    <p>ID <input type="text" th:field="*{id}"></p>
    <p>Mark <input type="text" th:field="*{mark}"></p>
    <p>Model <input type="text" th:field="*{model}"></p>
    <p>Color <input type="text" th:field="*{color}"></p>
    <p><input type="submit" value="modify car by id"></p>
</form>
</body>
</html>