<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>show</h1>

<tr th:each="car: ${cars}">
    <td th:text="${car.getId()}"></td>
    <td th:text="${car.getMark()}"></td>
    <td th:text="${car.getModel()}"></td>
    <td th:text="${car.getColor()} "></td>
    <br/>
</tr>

<form th:action="@{/addCar}" th:object="${newCar}" method="post">
    <table style="margin-top: 10px">
        <tr><td>ID</td><td><input type="text" th:field="*{id}"></td></tr>
        <tr><td>Mark</td><td><input type="text" th:field="*{mark}"></td></tr>
        <tr><td>Model</td><td><input type="text" th:field="*{model}"></td></tr>
        <tr><td>Color</td><td><input type="text" th:field="*{color}"></td></tr>
        <tr><td><input type="submit" value="add new car"></td><td></td></tr>
    </table>
</form>
<br/>
<br/>
<br/>
<form th:action="@{/removeCar}" th:object="${newCar}">
    <table style="margin-top: 10px">
        <tr><td>ID</td><td><input type="text" th:field="*{id}"></td></tr>
        <tr><td><input type="submit" value="remove car"></td><td></td></tr>
    </table>
</form>
<br/>
<br/>
<br/>
<form th:action="@{/modifyCar}" th:object="${newCar}" >
    <table style="margin-top: 10px">
        <tr><td>ID</td><td><input type="text" th:field="*{id}"></td></tr>
        <tr><td>Mark</td><td><input type="text" th:field="*{mark}"></td></tr>
        <tr><td>Model</td><td><input type="text" th:field="*{model}"></td></tr>
        <tr><td>Color</td><td><input type="text" th:field="*{color}"></td></tr>
        <tr><td><input type="submit" value="modify car by id"></td><td></td></tr>
    </table>
</form>
</body>
</html>